 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <img src="./img/Research/1.PNG" class="img-responsive img-centered" alt="1" width="70%">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Discrete Event System(DES)</h2>
                </div>
            </div>
            <div class="row">
                <ul style="display: table; margin: 0 auto">
                    <li>Modeling a system to discrete event system(e.q. petri-net)</li>
                    <li>Analyze and develop general knowledge based on DES</li>
                    <li>Develop DES simulation model for experimenting military, business, engineering applications</li>
                </ul>
            </div>
            <hr>
            <div class="row">
                <img src="./img/Research/2.PNG" class="img-responsive img-centered" alt="1" width="70%">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Modeling, Simulation, and Scheduling of Semiconductor Manufacturing Facilities.</h2>
                </div>
            </div>
            <div class="row">
                <ul style="display: table; margin: 0 auto">
                    <li>Modeling and development of systems for semiconductor manufacturing facilities.</li>
                    <li>Conduct simulation to analyze semiconductor manufacturing systems</li>
                    <li>Control schedules of semiconductor manufacturing systems to optimize</li>
                </ul>
            </div>
            <hr>
            <div class="row">
                <img src="./img/Research/3.PNG" class="img-responsive img-centered" alt="1" width="70%">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Reinforcement Learning based Scheduling</h2>
                </div>
            </div>
            <div class="row">
                <ul style="display: table; margin: 0 auto">
                    <li>Modeling and development of environment for reinforcement learning</li>
                    <li>Defining appropriate state, action and reward</li>
                    <li>RL-Algorithm for scheduling discrete event system and their applications to semiconductor manufacturing system</li>
                </ul>
            </div>
        </div>
    </section>
