<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4>Professional Positions</h4>
        </div>
    </div>
    <table class="type09 col-lg-12">
        <thead class="thead-dark">
            <tr class="header">
                <th>Position</th>
                <th>Institute</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Professor</td><td>Department of Industrial & Systems Engineering (KAIST)</td><td>1991.9 - present</td></tr>
            <tr><td>Member</td><td>Korean Academy of Science and Technology</td><td>2014.12 - present</td></tr>
            <tr><td>Director</td><td>NAVER CONNECT Foundation</td><td>2018 - present</td></tr>
            <tr><td>Director</td><td>K-MOOC planning committee (Ministry of Education)</td><td>2019.11 - present</td></tr>
            <tr><td>Director</td><td>University Distance Education Advisory Committee <br/> (Ministry of Education)</td><td>2019.12 - present</td></tr>
            <tr><td>Director</td><td>Distance Education Advisory Committee (Ministry of Education)</td><td>2020.3 - present</td></tr>
            <tr><td>Director</td><td style="width: 75%;">Korea Education and Research Information Service</td><td style="width: 100%;">2020.7 - present</td></tr>
            <tr><td>Co-chair</td><td>Future Education Innovation Committee (KAIST)</td><td>2020.8.10 - present</td></tr>
            <tr><td>Director</td><td>University Distance Education Center</td><td>2020.11 - present</td></tr>
            <tr><td>Presidential Advisory</td><td>Distance Learning Innovation (KAIST)</td><td>2021.3 - present</td></tr>
            <tr><td>Director</td><td>Center for R&D Support and Sharing for Small and Medium Enterprises (KAIST)</td><td>2021.3 - present</td></tr>
            <tr><td>Director</td><td>Policy Studies (KAST)</td><td>2019 - 2021</td></tr>
            <tr><td>Director</td><td>KAIST Academy</td><td>2017.3 - 2019.2</td></tr>
            <tr><td>President</td><td>Korea Institute of Industrial Engineers</td><td>2017.1 - 2018.12</td></tr>
            <tr><td>Member</td><td>Policy Advisory Committee (Ministry of Education)</td><td>2016.1 - 2017.12</td></tr>
            <tr><td>Director</td><td>Center for Excellence in Learning and Teaching (KAIST)</td><td>2013.9 - 2015.2 <br/> 2017.3 - 2019.2</td></tr>
            <tr><td>Director</td><td>KAIST Education 3.0 Council</td><td>2011.9 - 2013.9</td></tr>
            <tr><td>Presidential Advisory</td><td>Regulatory Reform Committee <br/> (Office of the Prime Minister)</td><td>2010.2 - 2012.2</td></tr>
            <tr><td>Member</td><td>University Structural Reform Committee <br/> (Ministry of Education, Science and Technology)</td><td>2011.7 - 2012.12</td></tr>
            <tr><td>Dean</td><td>Department of Industrial & Systems Engineering (KAIST)</td><td>2006.9 - 2013.9 <br/> 2016.3 - 2017.9</td></tr>
            <tr><td>Associate Editor</td><td>IEEE Transactions on Automation Science and Engineering</td><td>2004 - 2008</td></tr>
            <tr><td>Director</td><td>National Digital Science Library (KAIST)</td><td>2000 - 2001</td></tr>
            <tr><td>Director</td><td>KAIST Library</td><td>1999 - 2000</td></tr>
        </tbody>
    </table>
    <p> </p>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4 style="margin-top: 30px;">Awards</h4>
        </div>
    </div>
    <table class="type09 col-lg-12" style="margin-bottom: 30px;">
        <thead class="thead-dark">
            <tr class="header">
                <th>Institute</th>
                <th>Award</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Ministry of Science and ICT</td><td>Commendation from Minister </td><td>2021.6</td></tr>
            <tr><td>IEOM Society</td><td>Distinguished Professor Award</td><td>2021.3.7</td></tr>
            <tr><td>KAIST</td><td>LINKGENESIS Best Teacher Award</td><td>2019.5.10</td></tr>
            <tr><td>National Research Foundation</td><td>Scientist of The Month</td><td>2015.12</td></tr>
            <tr><td>KIIE</td><td>Jeongheon Academic Award</td><td>2012.11</td></tr>    
        </tbody>
    </table>
</div>